.footer-container{
  /* border-top: 1px solid #232526; */
  background: linear-gradient(135deg, #1a1a1d, #232526, #414345);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.public-footer{
  text-align: center;
  font-size: 0.85rem;
  white-space: nowrap;
}

.footer-snippet{
  font-size: 1rem;
  max-width: 300px;
}

.footer-link-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
  justify-content: flex-end;
  display: flex;
}

.footer-link-list a{
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-link-list a:hover{
  font-weight: bold;
  transform: scale(1.4);
}

.to-private{
  grid-column: 1 / -1;
  justify-self: center;
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.to-private:hover{
  opacity: 1;
  transform: translateY(-2px);
}

@media (max-width: 800px){
  .footer-container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
  }
  .footer-snippet{
    margin: 0 auto;
  }
  .footer-link-list{
    justify-content: center;
  }
  
}